pandas
numpy
werkzeug==2.3.0
Flask
Flask-Login
Flask-SQLAlchemy
psycopg2
Flask-Migrate
Flask-Bcrypt
Flask-Excel
pyexcel-xlsx
pyexcel-xls
pyexcel-handsontable
fpdf
memory_profiler
matplotlib
pytest
psutil
psrecord

# -e .