{% extends 'base_admin.html' %} {% block title %} Detail Riwayat Analisis {%
endblock %} {% block content %}

<h3 class="mb-5">Detail Analisis</h3>

<div class="card">
  <div class="card-body">
    <h5 class="card-title fw-semibold mb-4">Informasi Hasil Analisis</h5>

    <table class="table table-borderless">
      <tbody>
        <tr>
          <th scope="row" width="25%" style="padding: 5px 0px !important">
            Algoritma
          </th>
          <td style="padding: 5px 0px !important">
            {{ mining_process.algorithm }}
          </td>
        </tr>
        <tr>
          <th scope="row" style="padding: 5px 0px !important">
            Periode Transaksi
          </th>
          <td style="padding: 5px 0px !important">
            <span id="periodStart">{{ mining_process.period_start }}</span> s.d.
            <span id="periodEnd"> {{mining_process.period_end}} </span>
          </td>
        </tr>
        <tr>
          <th scope="row" style="padding: 5px 0px !important">
            Minimum Support
          </th>
          <td style="padding: 5px 0px !important">
            {% if mining_process.algorithm == 'ECLAT' %}
            <span>{{ mining_process.minimum_support }}%</span>
            {% else %}
            <span>{{ mining_process.minimum_support }}</span>
            {% endif %}
          </td>
        </tr>
        <tr>
          <th scope="row" style="padding: 5px 0px !important">
            Minimum Confidence
          </th>
          <td style="padding: 5px 0px !important">
            {{ mining_process.minimum_confidence }}%
          </td>
        </tr>
        <tr>
          <th scope="row" style="padding: 5px 0px !important">
            Waktu Analisis
          </th>
          <td class="analysisDate" style="padding: 5px 0px !important">
            {{ mining_process.created_at }}
          </td>
        </tr>
        <tr>
          <th scope="row" style="padding: 5px 0px !important">
            Waktu Eksekusi
          </th>
          <td style="padding: 5px 0px !important">
            {{ mining_process.execution_time }} Detik
          </td>
        </tr>
      </tbody>
    </table>

    <a
      href="{{ url_for('mining_history_blueprint.mining_history') }}"
      class="btn btn-light mt-3"
    >
      Kembali
    </a>
  </div>
</div>

<div class="card" id="rules-card">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <h5 class="card-title fw-semibold mb-4">Hasil Analisis</h5>
      <div>
        <a
          href="{{ url_for('mining_history_blueprint.mining_history_report', process_id=mining_process.id) }}"
          class="btn btn-sm btn-outline-danger"
          title="Cetak Asosiasi"
          aria-label="Cetak Asosiasi"
          ><span>
            <i class="ti ti-file-text"></i> Cetak Hasil Analisis (PDF)</span
          ></a
        >
      </div>
    </div>

    <table id="associated_rules_history" class="table display">
      <thead>
        <tr>
          <th scope="col">No</th>
          <th scope="col">Aturan Asosiasi</th>
          <th scope="col">Nilai Support (%)</th>
          <th scope="col">Nilai Confidence (%)</th>
          <th scope="col">Lift Ratio</th>
        </tr>
      </thead>
      <tbody>
        {% for association_id, association in associations %}
        <tr>
          <td>{{loop.index}}</td>
          <td>
            Jika membeli
            <br />
            {% for item in association.antecedent %}
            <b>{{ item[0] }} - {{ item[1] }}</b>
            <br />
            {% endfor %} Maka berpotensi membeli
            <br />
            {% for item in association.consequent %}
            <b>{{ item[0] }} - {{ item[1] }}</b>
            <br />
            {% endfor %}
          </td>
          <td>{{ association.support }}</td>
          <td>{{ association.confidence }}</td>
          <td>{{ association.lift }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %} {% block scripts %}
<script>
  $(document).ready(function () {
    $("#associated_rules_history").DataTable({
      language: {
        url: "https://cdn.datatables.net/plug-ins/1.10.25/i18n/Indonesian.json",
      },
    });
  });

  $(document).ready(function () {
    $("#periodStart, #periodEnd").each(function () {
      var dateElement = $(this);
      var date = new Date(dateElement.text());

      var day = date.getDate();
      var month = date.getMonth() + 1; // Perhatikan bahwa bulan dimulai dari 0, sehingga perlu ditambahkan 1
      var year = date.getFullYear();

      var formattedDate = day + "/" + month + "/" + year;

      dateElement.text(formattedDate);
    });
  });

  $(document).ready(function () {
    $(".analysisDate").each(function () {
      var dateElement = $(this);
      var date = new Date(dateElement.text());

      var day = date.getDate();
      var month = date.getMonth() + 1; // Perlu ditambah 1 karena bulan dimulai dari 0
      var year = date.getFullYear();
      var time = date.toLocaleTimeString([], {
        hour: "2-digit",
        minute: "2-digit",
      });

      var formattedDate = day + "/" + month + "/" + year + ", " + time;
      dateElement.text(formattedDate);
    });
  });
</script>
{% endblock %}
