{% extends 'base_admin.html' %} {% block title %} Riwayat Penambangan {%
endblock %} {% set current_page = 'history' %} {% block content %}
<h3 class="mb-5">Riwayat Analisis</h3>

<div class="card">
  <div class="card-body">
    <table id="miningHistoryData" class="table display">
      <thead>
        <tr>
          <th scope="col">No</th>
          <th scope="col">Algoritma</th>
          <th scope="col">Periode Transaksi</th>
          <th scope="col">Minimum Support</th>
          <th scope="col">Minimum Confidence (%)</th>
          <th scope="col">Waktu Analisis</th>
          <!-- <th scope="col">Waktu Eksekusi</th> -->
          <th scope="col">Aksi</th>
        </tr>
      </thead>
      <tbody>
        {% for process in mining_process %}
        <tr>
          <td>{{loop.index}}</td>
          <td>{{process.algorithm}}</td>
          <td>
            <span id="periodStart">{{process.period_start}}</span>
            s.d
            <span id="periodEnd">{{process.period_end}}</span>
          </td>
          <!-- <td>{{process.minimum_support}}</td> -->
          <td>
            {% if process.algorithm == 'ECLAT' %}
            <span>{{ process.minimum_support }}%</span>
            {% else %}
            <span>{{ process.minimum_support|int }}</span>
            {% endif %}
          </td>
          <td>{{process.minimum_confidence}}</td>
          <td class="analysisDate">{{process.created_at}}</td>
          <td>
            <div class="d-flex justify-content-left">
              <a
                href="{{ url_for('mining_history_blueprint.detail_mining_history', process_id=process.id) }}"
                class="btn btn-sm btn-outline-primary"
                title="Lihat Detail"
                aria-label="Lihat Detail"
              >
                <div class="d-flex align-items-center">
                  <span><i class="ti ti-eye"></i></span>
                  <span class="ml-2">&nbsp;Detail</span>
                </div>
              </a>

              <form
                method="post"
                action="{{ url_for('mining_history_blueprint.delete_mining_history', process_id=process.id) }}"
                onsubmit="return deleteMiningHistoryConfirmation('{{ process.id }}')"
              >
                <button
                  type="submit"
                  class="btn btn-sm btn-outline-danger"
                  style="margin-left: 5px"
                  title="Hapus"
                  aria-label="Hapus"
                >
                  <div class="d-flex align-items-center">
                    <span><i class="ti ti-eye"></i></span>
                    <span class="ml-2">&nbsp;Hapus</span>
                  </div>
                </button>
              </form>

              <script>
                function deleteMiningHistoryConfirmation(item) {
                  if (
                    confirm(
                      "Anda yakin ingin menghapus riwayat mining id: " +
                        item +
                        " dari database?"
                    )
                  ) {
                    return true;
                  } else {
                    return false;
                  }
                }
              </script>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %} {% block scripts %}
<script>
  $(document).ready(function () {
    $("#miningHistoryData").DataTable({
      language: {
        url: "https://cdn.datatables.net/plug-ins/1.10.25/i18n/Indonesian.json",
      },
    });
  });

  $(document).ready(function () {
    $("#periodStart, #periodEnd").each(function () {
      var dateElement = $(this);
      var date = new Date(dateElement.text());

      var day = date.getDate();
      var month = date.getMonth() + 1; // Perhatikan bahwa bulan dimulai dari 0, sehingga perlu ditambahkan 1
      var year = date.getFullYear();

      var formattedDate = day + "/" + month + "/" + year;

      dateElement.text(formattedDate);
    });
  });

  $(document).ready(function () {
    $(".analysisDate").each(function () {
      var dateElement = $(this);
      var date = new Date(dateElement.text());

      var day = date.getDate();
      var month = date.getMonth() + 1; // Perlu ditambah 1 karena bulan dimulai dari 0
      var year = date.getFullYear();
      var time = date.toLocaleTimeString([], {
        hour: "2-digit",
        minute: "2-digit",
      });

      var formattedDate = day + "/" + month + "/" + year + ", " + time;
      dateElement.text(formattedDate);
    });
  });
</script>
{% endblock %}
