{% extends 'base_admin.html' %} {% block title %} Tambah Produk {% endblock %}
{% block content %}

<div class="card">
  <div class="card-body">
    <h3>Tambah Produk</h3>

    <form
      action="{{ url_for('product_blueprint.create_product') }}"
      method="POST"
    >
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Kode Produk</label>
        <input
          type="text"
          class="form-control"
          id="itemCode"
          name="itemCode"
          required
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Nama Produk</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          required
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Harga</label>
        <input
          type="number"
          class="form-control"
          id="price"
          name="price"
          required
        />
      </div>

      <button type="submit" class="btn btn-primary">Tambah Produk</button>
      <a
        href="{{ url_for('product_blueprint.list_product') }}"
        class="btn btn-light mx-3"
        >Batal</a
      >
    </form>
  </div>
</div>

{% endblock %}
