{% extends 'base_admin.html' %} {% block title %} Edit Produk {% endblock %} {%
block content %}

<h3 class="mb-5">Edit Barang</h3>

<div class="card">
  <div class="card-body">
    <form
      action="{{ url_for('product_blueprint.edit_product', itemCode=product.itemCode) }}"
      method="POST"
    >
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Kode Barang</label>
        <input
          type="text"
          class="form-control"
          id="itemCode"
          name="itemCode"
          value="{{ product.itemCode }}"
          readonly
          title="Kode produk tidak dapat diubah!"
        />
        <div id="itemCode" class="form-text">
          Kode produk tidak dapat diubah!
        </div>
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Nama Barang</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          value="{{ product.name }}"
          required
        />
      </div>
      <!-- <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Harga</label>
        <input
          type="number"
          class="form-control"
          id="price"
          name="price"
          value="{{ product.price }}"
          required
        />
      </div> -->

      <button type="submit" class="btn btn-primary">Perbarui</button>

      <a
        href="{{ url_for('product_blueprint.list_product') }}"
        class="btn btn-light mx-3"
        >Batal</a
      >
    </form>
  </div>
</div>

{% endblock %}
