{% extends 'base_admin.html' %} {% block title %} Master Produk {% endblock %}
{% block content %}

<div class="d-flex justify-content-between mb-5">
  <h3>Data Barang</h3>
  <div>
    <a
      href="{{ url_for('product_blueprint.create_product') }}"
      class="btn btn-primary"
      >Tambah Barang</a
    >
  </div>
</div>

<div class="card">
  <div class="card-body">
    {% with messages = get_flashed_messages() %} {% if messages %}
    <div class="alert alert-success" role="alert">{{ messages[0] }}</div>
    {% endif %} {% endwith %}

    <table id="data" class="table display">
      <thead>
        <tr>
          <th scope="col">No.</th>
          <th scope="col">Kode Barang</th>
          <th scope="col">Nama Barang</th>
          <!-- <th scope="col">Satuan</th> -->
          <!-- <th scope="col">Harga Jual</th> -->
          <th scope="col">Tindakan</th>
        </tr>
      </thead>
      <tbody>
        {% for item in products %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ item.itemCode }}</td>
          <td>{{ item.name }}</td>
          <!-- <td>{{ item.unit }}</td> -->
          <!-- <td id="price">{{ item.price }}</td> -->
          <td>
            <div class="d-flex justify-content-left">
              <a
                href="{{ url_for('product_blueprint.edit_product', itemCode=item.itemCode) }}"
                class="btn btn-sm btn-outline-primary"
                title="Edit"
                aria-label="Edit"
                ><span> <i class="ti ti-edit"></i> Edit </span></a
              >
              <!-- <form
                method="post"
                action="{{ url_for('product_blueprint.delete_product', itemCode=item.itemCode) }}"
                onsubmit="return deleteProductConfirmation('{{ item.name }}')"
              >
                <button
                  type="submit"
                  class="btn btn-sm btn-outline-danger"
                  style="margin-left: 5px"
                  title="Hapus"
                  aria-label="Hapus"
                >
                  <span><i class="ti ti-trash"></i> Hapus</span>
                </button>
              </form> -->
            </div>
          </td>
          <!-- <td>
            <a
              href="{{ url_for('product_blueprint.edit_product', itemCode=item.itemCode) }}"
              class="btn btn-sm btn-primary"
              >Edit</a
            >
            <form
              method="post"
              action="{{ url_for('product_blueprint.delete_product', itemCode=item.itemCode) }}"
            >
              <input
                type="submit"
                value="Delete"
                class="btn btn-sm btn-danger"
              />
            </form>
          </td> -->
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %} {% block scripts %}
<script>
  $(document).ready(function () {
    $("#data").DataTable({
      language: {
        url: "https://cdn.datatables.net/plug-ins/1.10.25/i18n/Indonesian.json",
      },
    });
  });

  // Fungsi untuk mengubah harga ke format mata uang Rupiah
  function formatToRupiah(price) {
    return new Intl.NumberFormat("id-ID", {
      style: "currency",
      currency: "IDR",
    }).format(Number(price));
  }

  // Mengambil semua elemen dengan id "price" dan mengonversi nilainya
  var priceElements = document.querySelectorAll("#price");
  priceElements.forEach(function (element) {
    var price = element.textContent;
    element.textContent = formatToRupiah(price);
  });

  function deleteProductConfirmation(item) {
    if (
      confirm(
        "Anda yakin ingin menghapus item " + item + " dari master produk?"
      )
    ) {
      return true;
    } else {
      return false;
    }
  }
</script>
{% endblock %}
