{% extends 'base_admin.html' %} {% block title %} Home Page {% endblock %} {%
block content %}
<div class="container-fluid">
  <div class="row">
    <h3 class="mb-5">Hi! <b>{{currentUser.name}}</b></h3>

    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <div class="row alig n-items-start">
            <div class="col-8">
              <h5 class="card-title mb-9 fw-semibold">Master Produk</h5>
              <h4 class="fw-semibold mb-3">{{products}}</h4>
              <div class="d-flex align-items-center pb-1">
                <!-- <span
                  class="me-2 rounded-circle bg-light-danger round-20 d-flex align-items-center justify-content-center"
                >
                  <i class="ti ti-arrow-down-right text-danger"></i>
                </span> -->
                <p class="text-dark me-1 fs-3 mb-0">Total Produk</p>
                <p class="fs-3 mb-0"></p>
              </div>
            </div>
            <div class="col-4">
              <div class="d-flex justify-content-end">
                <div
                  class="text-white bg-secondary rounded-circle p-6 d-flex align-items-center justify-content-center"
                >
                  <i class="ti ti-apple fs-6"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <div class="row alig n-items-start">
            <div class="col-8">
              <h5 class="card-title mb-9 fw-semibold">Transaksi</h5>
              <h4 class="fw-semibold mb-3">{{transactions}}</h4>
              <div class="d-flex align-items-center pb-1">
                <!-- <span
                  class="me-2 rounded-circle bg-light-danger round-20 d-flex align-items-center justify-content-center"
                >
                  <i class="ti ti-arrow-down-right text-danger"></i>
                </span> -->
                <p class="text-dark me-1 fs-3 mb-0">Total Transaksi</p>
                <p class="fs-3 mb-0"></p>
              </div>
            </div>
            <div class="col-4">
              <div class="d-flex justify-content-end">
                <div
                  class="text-white bg-secondary rounded-circle p-6 d-flex align-items-center justify-content-center"
                >
                  <i class="ti ti-shopping-cart fs-6"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <div class="row alig n-items-start">
            <div class="col-8">
              <h5 class="card-title mb-9 fw-semibold">Riwayat</h5>
              <h4 class="fw-semibold mb-3">{{miningProcess}}</h4>
              <div class="d-flex align-items-center pb-1">
                <!-- <span
                  class="me-2 rounded-circle bg-light-danger round-20 d-flex align-items-center justify-content-center"
                >
                  <i class="ti ti-arrow-down-right text-danger"></i>
                </span> -->
                <p class="text-dark me-1 fs-3 mb-0">Total Penambangan</p>
                <p class="fs-3 mb-0"></p>
              </div>
            </div>
            <div class="col-4">
              <div class="d-flex justify-content-end">
                <div
                  class="text-white bg-secondary rounded-circle p-6 d-flex align-items-center justify-content-center"
                >
                  <i class="ti ti-diamond fs-6"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h5 class="mt-5">Ketentuan Penggunaan:</h5>
    <ul>
      <li>- Data Laporan penjualan disiapkan terlebih dahulu</li>
      <li>- Data penjualan harus memiliki nomor faktur dan kode barang</li>
      <li>- Import data kedalam sistem sesuai ketentuan</li>
      <li>
        - Ketika data penjualan diimport, otomatis sistem akan menyimpan data
        transaksi dan produk
      </li>
      <li>
        - Lakukan analisis asosiasi dengan pilihan algoritma yaitu ECLAT atau
        FP-Growth
      </li>
      <li>- Download PDF hasil analisis jika perlu.</li>
    </ul>
  </div>
</div>

{% endblock %}
