{% extends 'base_admin.html' %} {% block title %} Tambah Transaksi {% endblock
%} {% block content %}
<h3 class="mb-5">Tambah Transaksi</h3>

<div class="card">
  <div class="card-body">
    <form
      action="{{ url_for('transaction_blueprint.create_transaction') }}"
      method="POST"
      onsubmit="logSelectedProducts()"
    >
      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          id="transaction_id"
          name="transaction_id"
          hidden
        />
      </div>

      <div class="mb-3">
        <label for="date" class="form-label">Tanggal Transaksi</label>
        <input
          type="date"
          class="form-control"
          id="date"
          name="date"
          required
        />
      </div>

      <div class="card mb-0">
        <div class="card-body p-4">
          <div id="product-fields" class="mb-3">
            <!-- Initial product field -->
            <div class="product-field">
              <div class="d-flex justify-content-start">
                <div class="d-flex flex-column p-3">
                  <label for="disabledSelect" class="form-label"
                    >Pilih Produk</label
                  >
                  <select class="form-select product-select" name="itemCode[]">
                    <option></option>
                    {% for item in products %}
                    <option value="{{ item.itemCode }}">{{ item.name }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="d-flex flex-column p-3">
                  <label for="quantity" class="form-label">Kuantitas</label>
                  <input
                    type="number"
                    class="form-control"
                    name="quantity[]"
                    min="1"
                  />
                </div>
                <div class="d-flex flex-column p-3">
                  <button
                    type="button"
                    class="btn btn-outline-danger remove-product mt-auto"
                  >
                    <span> <i class="ti ti-trash"></i> Hapus </span>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <button
            type="button"
            class="btn btn-outline-primary mt-3 ms-3"
            id="add-product"
          >
            Tambah Produk
          </button>
        </div>
      </div>
      <button
        type="submit"
        class="btn btn-primary mt-3 d-none"
        id="submit-transaction"
      >
        Simpan Transaksi
      </button>
      <a
        href="{{ url_for('transaction_blueprint.list_transaction') }}"
        class="btn btn-light mt-3"
      >
        Batal
      </a>
    </form>
  </div>
</div>
{% endblock %} {% block scripts %}
<!-- Pastikan jQuery dan select2 sudah di-include -->

<script>
  // Fungsi untuk menambahkan produk
  $("#add-product").click(function () {
    var productField = createProductField();
    productField.appendTo("#product-fields");

    // Setel lebar elemen select setiap kali elemen baru ditambahkan
    productField.find(".product-select").select2({
      width: "300px",
      placeholder: "Select...",
    });

    checkSubmitButtonVisibility();
  });

  // Fungsi untuk membuat elemen produk baru
  function createProductField() {
    var productField = $("<div class='product-field'></div>");

    productField.html(`
      <div class="d-flex justify-content-start">
        <div class="d-flex flex-column p-3">
          <label for="disabledSelect" class="form-label">Pilih Produk</label>
          <select class="form-select product-select" name="itemCode[]">
            <option></option>
            {% for item in products %}
            <option value="{{ item.itemCode }}">{{ item.name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="d-flex flex-column p-3">
          <label for="quantity" class="form-label">Kuantitas</label>
          <input type="number" class="form-control" name="quantity[]" min="1" />
        </div>
        <div class="d-flex flex-column p-3">
          <button type="button" class="btn btn-outline-danger remove-product mt-auto">
            <span> <i class="ti ti-trash"></i> Hapus </span>
          </button>
        </div>
      </div>
    `);

    return productField;
  }

  // Fungsi untuk menghapus produk
  $("#product-fields").on("click", ".remove-product", function () {
    if ($("#product-fields .product-field").length > 1) {
      $(this).closest(".product-field").remove();
      checkSubmitButtonVisibility();
    }
  });

  function checkSubmitButtonVisibility() {
    if ($("#product-fields .product-field").length > 0) {
      $("#submit-transaction").removeClass("d-none");
    } else {
      $("#submit-transaction").addClass("d-none");
    }
  }

  function logSelectedProducts() {
    var selectedProducts = [];

    $(".product-field").each(function () {
      var productSelect = $(this).find(".product-select");
      var productQuantity = $(this).find("input[name='quantity[]']").val();

      if (productSelect.val() && productQuantity !== "") {
        var productName = productSelect.find(":selected").text();
        selectedProducts.push({
          name: productName,
          quantity: productQuantity,
        });
      }
    });

    console.log("Daftar Produk yang Diproses:");
    console.log(selectedProducts);
  }

  // Menginisialisasi Select2 pada elemen yang sudah ada
  $(".product-select").select2({
    width: "300px",
    placeholder: "Select...",
  });
</script>

{% endblock %}
