{% extends 'base_admin.html' %} {% block title %} Detail Transaksi {% endblock
%} {% block content %}

<div class="card">
  <div class="card-body">
    <h3>Detail Transaksi</h3>

    <table class="table table-borderless">
      <tbody>
        <tr>
          <th scope="row" width="15%">ID Transaksi</th>
          <td>{{ transaction.transaction_id }}</td>
        </tr>
        <tr>
          <th scope="row">Tanggal</th>
          <td>{{ transaction.date }}</td>
        </tr>
        <tr>
          <th scope="row">Total Bayar</th>
          <td>Rp.{{ transaction.total_price }}</td>
        </tr>
      </tbody>
    </table>

    <h5 class="my-3">Daftar Produk</h5>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">No</th>
          <th scope="col">Kode Produk</th>
          <th scope="col">Nama</th>
          <th scope="col">Harga</th>
          <th scope="col">Kuantitas</th>
          <th scope="col">Sub Total</th>
        </tr>
      </thead>
      <tbody>
        {% for item, itemName, itemPrice in transaction_products %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ item.itemCode }}</td>
          <td>{{ itemName }}</td>
          <td>{{ itemPrice }}</td>
          <td>{{ item.quantity }}</td>
          <td>{{ itemPrice * item.quantity }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <a
      href="{{ url_for('transaction_blueprint.list_transaction') }}"
      class="btn btn-light mx-3 mt-3"
    >
      Kembali
    </a>
  </div>
</div>

{% endblock %}
