{% extends 'base_admin.html' %} {% block title %} Daftar Transaksi {% endblock
%} {% block content %}

<div class="d-flex justify-content-between mb-5">
  <h3>Data Transaksi</h3>
  <div>
    <a
      href="{{ url_for('transaction_blueprint.create_transaction') }}"
      class="btn btn-primary"
      >Tambah Transaksi</a
    >
  </div>
</div>

<div class="card">
  <div class="card-body">
    {% with messages = get_flashed_messages() %} {% if messages %}
    <div class="alert alert-success" role="alert">{{ messages[0] }}</div>
    {% endif %} {% endwith %}

    <table id="transactionData" class="table">
      <thead>
        <tr>
          <th scope="col">No</th>
          <th scope="col">No. Faktur</th>
          <th scope="col">Tanggal Transaksi</th>
          <!-- <th scope="col">Total Bayar</th> -->
          <th scope="col">Tindakan</th>
        </tr>
      </thead>
      <tbody>
        {% for transaction in transactions %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ transaction.transaction_id }}</td>
          <td id="transactionDate">{{ transaction.date }}</td>
          <!-- <td id="price">{{ transaction.total_price }}</td> -->
          <td>
            <div class="d-flex justify-content-left">
              <a
                href="{{ url_for('transaction_blueprint.detail_transaction', transaction_id=transaction.transaction_id) }}"
                class="btn btn-sm btn-outline-primary"
                title="Lihat Detail"
                aria-label="Lihat Detail"
                ><span> <i class="ti ti-eye"></i> Detail </span></a
              >
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %} {% block scripts %}
<script>
  $(document).ready(function () {
    $("#transactionData").DataTable();
  });

  function formatToRupiah(price) {
    return new Intl.NumberFormat("id-ID", {
      style: "currency",
      currency: "IDR",
    }).format(Number(price));
  }

  // Mengambil semua elemen dengan id "price" dan mengonversi nilainya
  var priceElements = document.querySelectorAll("#price");
  priceElements.forEach(function (element) {
    var price = element.textContent;
    element.textContent = formatToRupiah(price);
  });

  // Ubah format tanggal transaksi
  var transactionDateElements = document.querySelectorAll("#transactionDate");

  transactionDateElements.forEach(function (element) {
    var dateString = element.textContent;

    var dateParts = dateString.split("-");
    var year = dateParts[0];
    var month = dateParts[1];
    var day = dateParts[2];

    var formattedDate = day + "-" + month + "-" + year;

    element.textContent = formattedDate;
  });
</script>
{% endblock %}
